.App {
  position: absolute;
  font-family: 'Inter', sans-serif;
  max-width: 100vw;
  /* min-height: 100vh; */
  /* height: 100%; */
  margin: 0;
  top: 0px;
  left: 0px;
  /* background: #06ec81; */
  background-image: url('https://burst.shopifycdn.com/photos/blue-water-and-white-cliffs-surrounded-by-trees.jpg?width=1200&format=pjpg&exif=1&iptc=1');
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  position: relative;
  /* width: 100%; */
  width: 72%;
  margin-left: 14%;
  margin-top: 7px;
  height: 60px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;  
  justify-content: center;
  background: #ffffff;
  color: #000000;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  gap: 7px;
  font-family: 'Nunito Sans', 'sans-serif';
  font-weight: bold;
}

.navbar > img{
  width: 30px;
}

.main-card{
  position: relative;
  background: rgb(255, 255, 255);
  margin-top: 15px;
  width: 85%;
  margin-left: 7.5%;
  border-radius: 10px;
}

.card{
  display: flex;
  gap: 12%;
  max-height: 250px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.card > .card-image{
  width: 250px;
  height: 240px;
  border-radius: 10px;
  margin: 5px;
}

.card > .card-text{
  /* border: solid 2px; */
  width: 90%;
  overflow-y: scroll;
  padding-right: 10px;
  text-align: left;
}
.card-text > .location{
  display: flex;
  margin-top: 15px;
}

.card-text > .location > img{
  width: 15px;
  height: 20px;
  padding-right: 10px;
  margin-left: 10px;
  margin-top: -3px;
}

.card-text > .location > a{
  padding-left: 20px;
  color: #918E9B;
  font-size: 12px;
}

.card-text > .title{
  margin-top: 5px;
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  letter-spacing: 0.2rem;
  font-style: normal;
  font-weight: bold;
}

.card-text > .date{
  margin-top: -4%;
  font-size: 14px;

}
.card-text > .description{
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
}

@media screen and (max-width: 375px) {
  .card{
    max-height: 150px;
  }

  .card > .card-image{
    height: 140px;
    margin: 5px;
  }

  .card-text > .location{
    font-size: 8px;
  }

  .card-text > .location > img{
    width: 8px;
    height: 10px;
    padding-right:1.5px ;
    margin-top: 0px;
  }

  .card-text > .location > a{
    font-size: 8px;
  }

  .card-text > .title{
    font-size: 18px;
  }

  .card-text > .date{
    font-size: 11px;
  }

  .card-text > .description{
    font-size: 11px;
  }

  
}

footer{
  position: relative;
  width: 85%;
  margin-left: 7.5%;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  gap: 60px;
}

footer > p{
  margin-right: 10px;
}

